<header class="navbar navbar-expand-lg fixed-top ftco-navbar-light">
  <div class="container">
    <a class="navbar-brand align-items-center" routerLink="/"> 羽毛 </a>
    <!-- <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="fa fa-bars"></span> Menu
        </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news/list">鸡毛</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="hero-wrap index">
  <section class="ftco-section">
    <div class="container-xl">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
<footer class="navbar fixed-bottom">
  <div class="container">
    <!-- <div class="row mb-5 justify-content-between">
      <div class="col-md-6 col-lg-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 logo d-flex">
            <a class="navbar-brand align-items-center" routerLink="/home">
              ME
            </a>
          </h2>
          <p>介绍内容.</p>
          <ul class="ftco-footer-social list-unstyled mt-2">
            <li>
              <a href="#"><span class="fa fa-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Services</h2>
          <ul class="list-unstyled">
            <li>
              <a href="#"
                ><span class="ion ion-ios-arrow-round-forward me-2"></span>NO</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon fa fa-map marker"></span
                ><span class="text">地址</span>
              </li>
              <li>
                <a href="#"
                  ><span class="icon fa fa-phone"></span
                  ><span class="text">电话</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon fa fa-paper-plane"></span
                  ><span class="text">email</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row m-auto">
      <p class="mb-0" style="font-size: 14px">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        <a href="https://beian.miit.gov.cn/">蜀ICP备18023684号</a>

        <i class="fa fa-heart color-danger" aria-hidden="true"></i> by
        <a href="/">yumao</a>
      </p>
    </div>
  </div>
</footer>
